/* Our App */
body {
    font-family: "Montserrat";
    background-color: #F6F6FA;
}

.app-wrapper {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 40px auto;
    background-color: #FFF;
}

/* Sidebar Styles */
.sidebar-section {
    background-color: #DFEEFF;
}

.sidebar-image {
    margin-top: 40px;
}

.contacts-container {
    padding-left: 40px;
}

.tech-skills {
    padding-left: 40px;
    margin-top: 40px;
}

.soft-skills {
    padding-left: 40px;
    margin-top: 40px;
}

.contacts-header {
    font-weight: 700;
    font-size: 22px;
    color: #161d2a;
    line-height: normal;
}

.contacts-item {
    font-weight: 700;
    font-size: 14px;
    line-height: 171%;
    color: #161d2a;
}

.contacts-phone {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #4489ff;
    text-decoration: none;
    margin-left: 10px;
}

.contacts-email {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #4489ff;
    margin-left: 10px;
}

.contacts-element {
    margin-top: -12px;
}

.tech-skills-header {
    font-weight: 700;
    font-size: 22px;
    color: #161d2a;
}

.skills-list {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #161d2a;
    margin-top: -10px;
    margin-left: -10px;
}
/* Main content styles */
.right-side-container {
    padding-left: 88px;
    padding-top: 80px;
    padding-right: 40px;
    padding-bottom: 180px;
}