body {
    font-family: "Montserrat";
}

.about-me-section {
    
}

.sidebar-section {
    background-color: #DFEEFF;
}

.app-wrapper {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 40px auto;
}

.right-side-container {
    margin-left: 88px;
}